<h1> View <%= pluralize(@announcements.count, "Announcement")%></h1>
<a href="/announcements/new">Create Announcement</a>
<a href="/links/new">Create Links</a>
<table class="table table-striped">
	
	<thead>
       <tr>
       	  <th scope="col">Title</th>
       	  <th scope="col">Body</th>
       	  <th scope="col">Actions</th>

       </tr>
	</thead>

	<tbody>
		<% @announcements.each do |announcement| %>
		<tr>
			<td><%= announcement.title %></td>
			<td><%= announcement.body %></td>
			<td><a href="/announcements/<%= announcement.id %>">Show</a> |
				<a href="/announcements/<%= announcement.id %>/edit">Edit</a> |
				<a href="/announcements/<%= announcement.id %>" data-method="delete"
					data-confirm="Are you sure?">Delete</a>

			</td>
		</tr>
		<% end %>
	</tbody>
</table>
